
<h1 class="current-category"><%= params[:category]%></h1>

<%if @books.count == 0 %>
  <h1> This category is currently empty.</h1>
<% else %>

  <div class="row">

  <% @books.each do |book| %>

    <div class="col-md-3">

    <a href="/books/<%= book.id %>">
    <%= image_tag book.book_img.url(:book_index),class: "book" %>
    </a>

    </div>

<% end %>
</div>
<% end %>


<%# Comments%>

<%# this link was on the index page now it's not link_to "Add Book", new_book_path %>

<%# This is a comment: the link directly above adds a button to the index page. %>

<%# This is a comment: the if else statement wrapped around the h1 comes up if the user does not possess books in that category.If they do then they will display. %>