<% @books.each do |book| %>
  <h2><%= link_to book.title, book_path(book) %></h2>
<% end %>



<%# this link was on the index page now it's not link_to "Add Book", new_book_path %>

<%# This is a comment: the link directly above adds a button to the index page. %>